
<div *ngIf="usuarioExtra">
    <h2><span jhiTranslate="doraApp.usuarioExtra.detail.title">Usuario Extra</span> {{usuarioExtra.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="doraApp.usuarioExtra.telefone">Telefone</span></dt>
        <dd>
            <span>{{usuarioExtra.telefone}}</span>
        </dd>
        <dt><span jhiTranslate="doraApp.usuarioExtra.user">User</span></dt>
        <dd>
            {{usuarioExtra.userId}}
        </dd>
        <dt><span jhiTranslate="doraApp.usuarioExtra.tag">Tag</span></dt>
        <dd>
            <div *ngIf="usuarioExtra.tagId">
                <a [routerLink]="['/tag', usuarioExtra.tagId]">{{usuarioExtra.tagId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario-extra/'+ usuarioExtra.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
