
<div *ngIf="produto">
    <h2><span jhiTranslate="doraApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="doraApp.produto.nome">Nome</span></dt>
        <dd>
            <span>{{produto.nome}}</span>
        </dd>
        <dt><span jhiTranslate="doraApp.produto.quantidade">Quantidade</span></dt>
        <dd>
            <span>{{produto.quantidade}}</span>
        </dd>
        <dt><span jhiTranslate="doraApp.produto.precoUnitario">Preco Unitario</span></dt>
        <dd>
            <span>{{produto.precoUnitario}}</span>
        </dd>
        <dt><span jhiTranslate="doraApp.produto.quantidadeEmEstoque">Quantidade Em Estoque</span></dt>
        <dd>
            <span>{{produto.quantidadeEmEstoque}}</span>
        </dd>
        <dt><span jhiTranslate="doraApp.produto.quantidadePedidos">Quantidade Pedidos</span></dt>
        <dd>
            <span>{{produto.quantidadePedidos}}</span>
        </dd>
        <dt><span jhiTranslate="doraApp.produto.categoria">Categoria</span></dt>
        <dd>
            <div *ngIf="produto.categoriaId">
                <a [routerLink]="['/categoria', produto.categoriaId]">{{produto.categoriaId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produto/'+ produto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
