<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPedidoLabel" jhiTranslate="doraApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pedido.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pedido.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doraApp.pedido.dataPedido" for="field_dataPedido">Data Pedido</label>
            <div class="d-flex">
                <input id="field_dataPedido" type="datetime-local" class="form-control" name="dataPedido" [(ngModel)]="pedido.dataPedido"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doraApp.pedido.usuarioExtra" for="field_usuarioExtra">Usuario Extra</label>
            <select class="form-control" id="field_usuarioExtra" name="usuarioExtra" [(ngModel)]="pedido.usuarioExtraId"  required>
                <option *ngIf="!editForm.value.usuarioExtra" [ngValue]="null" selected></option>
                <option [ngValue]="usuarioExtraOption.id" *ngFor="let usuarioExtraOption of usuarioextras; trackBy: trackUsuarioExtraById">{{usuarioExtraOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.usuarioExtra?.dirty && editForm.controls.usuarioExtra?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.usuarioExtra?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doraApp.pedido.itensPedido" for="field_itensPedido">Itens Pedido</label>
            <select class="form-control" id="field_itensPedido" name="itensPedido" [(ngModel)]="pedido.itensPedidoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="itensPedidoOption.id" *ngFor="let itensPedidoOption of itenspedidos; trackBy: trackItensPedidoById">{{itensPedidoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
