<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myItensPedidoLabel" jhiTranslate="doraApp.itensPedido.home.createOrEditLabel">Create or edit a Itens Pedido</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!itensPedido.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="itensPedido.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doraApp.itensPedido.desconto" for="field_desconto">Desconto</label>
            <input type="number" class="form-control" name="desconto" id="field_desconto"
                [(ngModel)]="itensPedido.desconto"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="doraApp.itensPedido.produto" for="field_produto">Produto</label>
            <select class="form-control" id="field_produto" name="produto" [(ngModel)]="itensPedido.produtoId"  required>
                <option *ngIf="!editForm.value.produto" [ngValue]="null" selected></option>
                <option [ngValue]="produtoOption.id" *ngFor="let produtoOption of produtos; trackBy: trackProdutoById">{{produtoOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.produto?.dirty && editForm.controls.produto?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.produto?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
